<ion-view style="" class=" " id="page11" title="Add Expertise">
    <ion-content class="has-header" padding="true">
        <form class="list " id="addExpertise-form5">
            <label id="addExpertise-input12" class="item item-input ">
                <input placeholder="Add Expertise" type="text" ng-model="data.expertise">
            </label>
            <div style="width: 283px; height: 25px;" class="spacer"></div>
            <label id="addExpertise-input13" class="item item-input ">
                <input placeholder="Email" type="email" ng-model="data.email">
            </label>
        </form>
        <button class="button button-block button-positive" ng-click="addExpertise(data)" id="addExpertise-button14">ADD EXPERTISE</button>
    </ion-content>
</ion-view>