<ion-view style="" class=" " id="page18" title="Post New Message">
    <ion-content class="has-header" padding="true">
    	<form class="list animated bounceIn " name="postmesgform" class="css-form" novalidate id="changePassword-form2" ng-submit="postmesgform.$valid && postMessage(data)">
            <label id="subject" class="item item-input ">
                <input placeholder="Subject" required=""  name="subject"  type="text" ng-model="data.subject">
            </label>
            <div ng-show="postmesgform.$submitted || postmesgform.subject.$touched">
		      <div style="color:red;margin:5px;padding:5px;" ng-show="postmesgform.subject.$error.required">Please enter subject.</div>
		    </div>
            <label id="message" class="item item-input ">
                <input placeholder="Message" required=""  name="message"  type="text" ng-model="data.message">
            </label>
            <div ng-show="postmesgform.$submitted || postmesgform.message.$touched">
		      <div style="color:red;margin:5px;padding:5px;" ng-show="postmesgform.message.$error.required">Please enter message.</div>
		    </div>
            <label id="type" class="item item-select ">
                <span class="input-label">Type</span>
                <select ng-model="data.channels">
                    <option ng-selected="true" value="information">Information</option>
                    <option value="knowledge">Knowledge</option>
                    <option value="broadcast">Broadcast</option>
                    <option value="sos">SOS</option>
                </select>
            </label>
            <label id="tag" class="item item-input ">
                <input placeholder="Tag" required=""  name="tag" type="text" ng-model="data.tag">
            </label>
            <div ng-show="postmesgform.$submitted || postmesgform.tag.$touched">
		      <div style="color:red;margin:5px;padding:5px;" ng-show="postmesgform.tag.$error.required">Please enter tag.</div>
		    </div>
		    <button class=" button button-positive  button-block " type="submit" id="changePassword-button10">POST NEW MESSAGE</button>
        </form>
    </ion-content>
</ion-view>