<ion-view style="" class=" " id="page10" title="Change Role">
   <ion-content class="has-header" padding="true">
      <form class="list " name="changeroleform" class="css-form" novalidate id="changeRole-form4" ng-submit="changeroleform.$valid && changeRole(data)">
         <label id="changeRole-select1" class="item item-select ">
            <span class="input-label">Change Role To</span>
            <select ng-model="data.role" required="" name='role'>
               <option value='ROLE_ADMIN'>Admin</option>
               <option value='ROLE_SME'>SME</option>
               <option value='USER_ROLES' ng-selected="selected">USER</option>
            </select>
         </label>
         <div ng-show="changeroleform.$submitted || changeroleform.role.$touched">
            <div style="color:red;margin:5px;padding:5px;" ng-show="changeroleform.role.$error.required">Please Select role.</div>
         </div>
         <label id="changeRole-input11" class="item item-input ">
         <input placeholder="Email" required=""  name="email" type="email" ng-model="data.email">
         </label>
         <div ng-show="changeroleform.$submitted || changeroleform.email.$touched">
            <div style="color:red;margin:5px;padding:5px;" ng-show="changeroleform.email.$error.required">Please enter email.</div>
            <div style="color:red;margin:5px;padding:5px;" ng-show="changeroleform.email.$error.email">Please enter valid email.</div>
         </div>
         <button class="button button-assertive-900 button-block" id="changeRole-button12">SUBMIT</button>
      </form>
   </ion-content>
</ion-view>