<ion-view style="" class=" " id="page15" title="Change Password">
    <ion-content class="has-header" padding="true">
        <form class="list " id="changePassword-form2">
            <label id="changePassword-input2" class="item item-input ">
                <input placeholder="Old Password" type="text">
            </label>
            <div style="width: 283px; height: 27px;" class="spacer"></div>
            <label id="changePassword-input3" class="item item-input ">
                <input placeholder="New Password" type="text">
            </label>
            <div style="width: 283px; height: 31px;" class="spacer"></div>
            <label id="changePassword-input4" class="item item-input ">
                <input placeholder="Confirm Password" type="text">
            </label>
        </form>
        <div style="width: 283px; height: 33px;" class="spacer"></div>
        <button class=" button button-positive  button-block " id="changePassword-button10">SUBMIT</button>
    </ion-content>
</ion-view>