<ion-view style="" class=" " id="page15" title="Change Password">
   <ion-content class="has-header" padding="true">
      <form class="list " name="changePassForm" class="css-form" novalidate id="changePassword-form2" ng-submit="changePassForm.$valid && changePassword(data)">
         <label id="changePassword-input2" class="item item-input ">
         <input placeholder="Old Password" required=""  name="oldPasss" type="password" ng-model="data.oldPass">
         </label>
         <div ng-show="changePassForm.$submitted || changePassForm.oldPasss.$touched">
            <div style="color:red;margin:5px;padding:5px;" ng-show="changePassForm.oldPasss.$error.required">Please enter old password.</div>
         </div>
         <label id="changePassword-input3" class="item item-input ">
         <input placeholder="New Password" required=""  name="newPasss" type="password" ng-model="data.newPass">
         </label>
         <div ng-show="changePassForm.$submitted || changePassForm.newPasss.$touched">
            <div style="color:red;margin:5px;padding:5px;" ng-show="changePassForm.newPasss.$error.required">Please enter new password.</div>
         </div>
         <label id="changePassword-input4" class="item item-input ">
         <input placeholder="Confirm Password" required=""  name="confNewPasss" type="password" ng-model="data.confNewPass">
         </label>
         <div ng-show="changePassForm.$submitted || changePassForm.confNewPasss.$touched">
            <div style="color:red;margin:5px;padding:5px;" ng-show="changePassForm.confNewPasss.$error.required">Please confirm password.</div>
         </div>
         <div style="width: 283px; height: 33px;" class="spacer"></div>
         <button class=" button button-positive  button-block " type="submit" id="changePassword-button10">SUBMIT</button>
      </form>
   </ion-content>
</ion-view>