<ion-view style="" class=" " id="page10" title="Change Role">
    <ion-content class="has-header" padding="true">
        <form class="list " id="changeRole-form4">
            <label id="changeRole-select1" class="item item-select ">
                <span class="input-label">Change Role To</span>
                <select ng-model="data.role">
                    <option>Admin</option>
                    <option>SME</option>
                    <option ng-selected="true">USER</option>
                </select>
            </label>
            <div style="width: 283px; height: 28px;" class="spacer"></div>
            <label id="changeRole-input11" class="item item-input ">
                <input placeholder="Email" type="email" ng-model="data.email">
            </label>
        </form>
        <button class="button button-positive  button-block" ng-click="changeRole(data)" id="changeRole-button12">SUBMIT</button>
    </ion-content>
</ion-view>