<ion-view style="" class=" " id="page9" title="Create New User">
    <ion-content class="has-header" padding="true">
        <form class="list " id="createNewUser-form3">
            <label id="createNewUser-input5" class="item item-input ">
                <input placeholder="First Name" type="text" ng-model="data.fname">
            </label>
            <div style="width: 283px; height: 19px;" class="spacer"></div>
            <label id="createNewUser-input6" class="item item-input ">
                <input placeholder="Last Name" type="text" ng-model="data.lname">
            </label>
            <div style="width: 283px; height: 22px;" class="spacer"></div>
            <label id="createNewUser-input7" class="item item-input ">
                <input placeholder="Email" type="email" ng-model="data.email">
            </label>
            <div style="width: 283px; height: 18px;" class="spacer"></div>
            <label id="createNewUser-input8" class="item item-input ">
                <input placeholder="Phone" type="tel" ng-model="data.phoneNo">
            </label>
            <div style="width: 283px; height: 20px;" class="spacer"></div>
            <label id="createNewUser-input9" class="item item-input ">
                <input placeholder="Password" type="password" ng-model="data.password">
            </label>
            <div style="width: 283px; height: 20px;" class="spacer"></div>
            <label id="createNewUser-input10" class="item item-input ">
                <input placeholder="Confirm Password" type="password" ng-model="data.confirmPass">
            </label>
            <div style="width: 283px; height: 20px;" class="spacer"></div>
            <ion-checkbox style="">Admin</ion-checkbox>
            <ion-checkbox style="">SME</ion-checkbox>
            <ion-checkbox style="">User</ion-checkbox>
            <button class="button button-positive  button-block" ng-click="addUser(data)" id="createNewUser-button11">SUBMIT</button>
        </form>
    </ion-content>
</ion-view>