<ion-view style="" class=" " id="page14" title="Credits">
    <ion-content class="has-header" padding="true"  scroll="false">
    	<div class="scroll" style="transform: translate3d(0px, 0px, 0px) scale(1);">
         <div class="list card animated bounceInUp">
            <div class="item item-avatar item-text-wrap in" style="transition-delay: 0.3s;">
               <span class="avatar" style="background-image: url('../www/img/Tanmay.jpg');"></span>
               <strong>Tanmay Ambre</strong> 
               <p></p>
               <div class="card-footer text-right">
                  <div class="pull-left">
                     <i class="icon ion-email positive"></i>&nbsp;&nbsp; tanmay.ambre@in.ibm.com
                  </div>
               </div>
            </div>
         </div>
         <div class="list card animated bounceInUp">
            <div class="item item-avatar item-text-wrap in" style="transition-delay: 0.3s;">
               <span class="avatar" style="background-image: url('../www/img/Nampreet.jpg');"></span>
               <strong>Nampreet Singh</strong> 
               <p></p>
               <div class="card-footer text-right">
                  <div class="pull-left">
                     <i class="icon ion-email positive"></i>&nbsp;&nbsp; nampreet.singh@in.ibm.com
                  </div>
               </div>
            </div>
         </div>
         <div class="list card animated bounceInUp">
            <div class="item item-avatar item-text-wrap in" style="transition-delay: 0.3s;">
               <span class="avatar" style="background-image: url('../www/img/Abhi.jpg');"></span>
               <strong>Abhinav Thakare</strong> 
               <p></p>
               <div class="card-footer text-right">
                  <div class="pull-left">
                     <i class="icon ion-email positive"></i>&nbsp;&nbsp; abhinav.thakare@in.ibm.com
                  </div>
               </div>
            </div>
         </div>
         <div class="list card animated bounceInUp">
            <div class="item item-avatar item-text-wrap in" style="transition-delay: 0.3s;">
               <span class="avatar" style="background-image: url('../www/img/user.png');"></span>
               <strong>Nisha Bhagdev </strong> 
               <p></p>
               <div class="card-footer text-right">
                  <div class="pull-left">
                     <i class="icon ion-email positive"></i>&nbsp;&nbsp;  nbhagdev@in.ibm.com
                  </div>
               </div>
            </div>
         </div>
      </div>
      <ion-footer-bar align-title="center" class="bar">
         <img src ='../www/img/IBM.jpg' width=100 height=40 alt="IBM" /> <h5 class="title title-center" style="font-size:10px;" >Copyright &#169; IBM India Pvt. Ltd 2016</h5>
      </ion-footer-bar>
    </ion-content>
</ion-view>