<ion-view style="" class=" " id="page14" title="Credits">
    <ion-content class="has-header" padding="true">
    	<div class="scroll" style="transform: translate3d(0px, 0px, 0px) scale(1);">
         <div class="list card animated bounceInUp">
            <div class="item item-avatar item-text-wrap in" style="transition-delay: 0.3s;">
               <span class="avatar" style="background-image: url('../www/img/Tanmay.jpg');"></span>
               <strong>Tanmay Ambre</strong> 
               <p></p>
               <div class="card-footer text-right">
                  <div class="pull-left">
                     <i class="icon ion-iphone positive"></i> +91 9860306111
                  </div>
               </div>
            </div>
         </div>
         <div class="list card animated bounceInUp">
            <div class="item item-avatar item-text-wrap in" style="transition-delay: 0.3s;">
               <span class="avatar" style="background-image: url('../www/img/Nampreet.jpg');"></span>
               <strong>Nampreet Singh</strong> 
               <p></p>
               <div class="card-footer text-right">
                  <div class="pull-left">
                     <i class="icon ion-iphone positive"></i> +91 9823148934
                  </div>
               </div>
            </div>
         </div>
         <div class="list card animated bounceInUp">
            <div class="item item-avatar item-text-wrap in" style="transition-delay: 0.3s;">
               <span class="avatar" style="background-image: url('../www/img/Abhi.jpg');"></span>
               <strong>Abhinav Thakare</strong> 
               <p></p>
               <div class="card-footer text-right">
                  <div class="pull-left">
                     <i class="icon ion-iphone positive"></i> +91 9890335365
                  </div>
               </div>
            </div>
         </div>
      </div>
    </ion-content>
</ion-view>