<ion-view style="" class=" " id="page8" title="DetailedPage">
    <ion-content class="has-header" padding="true">
        <h1 class=" " style="color: rgb(0, 0, 0);" id="detailedPage-heading1">Heading</h1>
        <p class=" " style="color:#000000;" id="detailedPage-markdown1">Some friendly
            <strong>markdown</strong>
        </p>
        <ion-list class=" " id="detailedPage-list3">
            <ion-item style="" id="detailedPage-list-item8" class="item-avatar  ">
                <h2>Item</h2>
            </ion-item>
            <label id="detailedPage-textarea2" class="item item-input ">
                <span class="input-label"></span><textarea placeholder="Comment"></textarea>
            </label>
        </ion-list>
    </ion-content>
</ion-view>