<ion-view style="" class=" " id="page3" title="INFORMATION">
   <ion-nav-buttons side="right">
	   <div class="paddingTop">
	     <button class=" button-icon ion-android-search flat"  ng-click="search()"> </button>
         <button class=" button-icon ion-android-refresh flat" ng-click="refresh()"></button>
         <button class=" button-icon ion-ios-plus-outline flat" ui-sref="addNewItem"></button>
         <button class=" button-icon ion-log-out flat" ng-click="logout()"></button>
	   </div>
   </ion-nav-buttons>
   <ion-content class="has-header" padding="true">
      <ion-refresher on-refresh="refresh()"></ion-refresher>
      <div class="scroll" style="transform: translate3d(0px, 0px, 0px) scale(1);" ng-show='informationDatas!==undefined' >
         <div class="list card animated bounceInUp" ng-repeat="informationData in informationDatas">
            <div class="item item-avatar item-text-wrap in" style="transition-delay: 0.3s;">
				<span class="avatar" style="background-image: url('../www/img/user.png');"></span>
				<strong>{{informationData.title}}</strong> 
				<p>{{informationData.message}}</p>
				<div class="card-footer text-right">
					<div class="pull-left">
						<i class="icon ion-clock positive"></i> {{informationData.date | date:'dd/MM/yyyy @ h:mma'}}
					</div>
				</div><br>
				<i class="icon ion-android-person balanced"> </i> {{informationData.author}}
			</div>
            <div class="item tabs tabs-secondary tabs-icon-left">
               <a class="tab-item stable-bg assertive" ng-class="{ 'activated'   : informationData.likes > 0 }" ng-click="like(informationData.uuid)">
               <i class="icon ion-heart"></i>
               Like {{informationData.likes}}
               </a>
               <a class="tab-item stable-bg positive" ng-click="addComment(informationData, 'information')">
               <i class="icon ion-chatbubbles"></i>
               Reply
               </a>
               <a class="tab-item stable-bg balanced" ng-click="(!isGroupShown(informationData.threadId)) ? getComment(informationData.threadId) : toggle(informationData.threadId)">
               <i class="icon" ng-class="isGroupShown(informationData.threadId) ? 'ion-chevron-up' : 'ion-arrow-expand'"></i> Comments
               </a>
            </div>
            <div class="list card"  ng-show='informationData.threadId!==undefined && isGroupShown(informationData.threadId)'>
               <ion-item  class="item-stable">
                  <span>Comments</span>
               </ion-item>
               <div class="item item-body item-accordion" ng-show='isGroupShown(informationData.threadId) && commentsDatas!==undefined && informationData.threadId === comments.threadId' ng-repeat="comments in commentsDatas" >
                  <p class="ng-binding">
                     {{comments.message}} <br> By - {{comments.author}}
                  </p>
               </div>
            </div>
         </div>
      </div>
      <ion-list class=" " id="profile-list4" ng-show='informationDatas===undefined'>
         <ion-item style="" id="profile-list-item12" class="item-icon-left  ">
            <i class="icon ion-android-alert"></i>Nothing to display
         </ion-item>
      </ion-list>
   </ion-content>
</ion-view>