<ion-view style="" class=" " id="page3" title="INFORMATION">
   <ion-nav-buttons side="right">
	   <div class="paddingTop">
	      <i class="icon ion-android-search" ng-click="search()"></i>  &nbsp;&nbsp;
	      <i class="icon ion-android-refresh " ng-click="refresh()"></i> &nbsp;&nbsp;
	      <i class="icon ion-ios-plus-outline" ui-sref="addNewItem"></i> &nbsp;&nbsp;
	      <i class="icon ion-log-out" ng-click="logout()"></i> &nbsp;&nbsp;
	   </div>
   </ion-nav-buttons>
   <ion-content class="has-header" padding="true">
      <ion-refresher on-refresh="refresh()"></ion-refresher>
      <div class="scroll" style="transform: translate3d(0px, 0px, 0px) scale(1);" ng-show='informationDatas!==undefined' >
         <div class="list card animated bounceInUp" ng-repeat="informationData in informationDatas">
            <div class="item item-thumbnail-left item-avatar animated">
               <img ng-src="../www/img/user.png" src="../www/img/user.png">
               <p class="ng-binding">{{informationData.date |  date:'dd/MM/yyyy @ h:mma'}}</p>
               <h2 class="ng-binding">{{informationData.title}}</h2>
               <p class="ng-binding">{{informationData.author}}</p>
            </div>
            <div class="item item-body">
               <p class="ng-binding">
                  {{informationData.message}}
               </p>
            </div>
            <div class="item tabs tabs-secondary tabs-icon-left">
               <a class="tab-item stable-bg assertive" ng-class="{ 'activated'   : informationData.likes > 0 }" ng-click="like(informationData.uuid)">
               <i class="icon ion-heart"></i>
               Like {{informationData.likes}}
               </a>
               <a class="tab-item stable-bg positive" ng-click="addComment(informationData, 'information')">
               <i class="icon ion-chatbubbles"></i>
               Reply
               </a>
               <a class="tab-item stable-bg balanced" ng-click="(!isGroupShown(informationData.threadId)) ? getComment(informationData.threadId) : toggle(informationData.threadId)">
               <i class="icon" ng-class="isGroupShown(informationData.threadId) ? 'ion-chevron-up' : 'ion-arrow-expand'"></i> Comments
               </a>
            </div>
            <div class="list card"  ng-show='informationData.threadId!==undefined && isGroupShown(informationData.threadId)'>
               <ion-item  class="item-stable">
                  <span>Comments</span>
               </ion-item>
               <div class="item item-body item-accordion" ng-show='isGroupShown(informationData.threadId) && commentsDatas!==undefined && informationData.threadId === comments.threadId' ng-repeat="comments in commentsDatas" >
                  <p class="ng-binding">
                     {{comments.message}} <br> By - {{comments.author}}
                  </p>
               </div>
            </div>
         </div>
      </div>
      <ion-list class=" " id="profile-list4" ng-show='informationDatas===undefined'>
         <ion-item style="" id="profile-list-item12" class="item-icon-left  ">
            <i class="icon ion-android-alert"></i>Nothing to display
         </ion-item>
      </ion-list>
   </ion-content>
</ion-view>