<ion-view style="" class=" " id="page12" title="Search User">
   <ion-content class="has-header" padding="true">
      <form class="list animated bounceIn " name="searchform" class="css-form" novalidate id="searchUser-form6" ng-submit="searchform.$valid && search(searchinput)">
         <label id="searchUser-input14" class="item item-input ">
         	<input placeholder="Search User" required=""  name="searchinput" type="text" ng-model="searchinput">
         </label>
         <div ng-show="searchform.$submitted || searchform.searchinput.$touched">
            <div style="color:red;margin:5px;padding:5px;" ng-show="searchform.searchinput.$error.required">Please enter input to search.</div>
         </div>
         <button class="button button-assertive-900  button-block" id="searchUser-button15">SUBMIT</button>
      </form>
      <div ng-show='showFilter && searchinput'>
         <h4 id="searcResult" style="color:#000000;font-weight:400;text-align:left;" class=" ">Search Results</h4>
         <label id="searchUser-input14" class="item item-input ">
         	<input  placeholder="Filter Result" type="text" ng-model="filterResult">
         </label>
         <div style="height: 8px;" class="spacer"></div>
         Result are filter by: {{filterResult}} <BR>
         <div style="height: 8px;" class="spacer"></div>
         Sort - 
         <button class="icon ion-android-arrow-dropup-circle" href="" ng-click="term='fname'"> </button> ---
         <button class="icon ion-android-arrow-dropdown-circle" href="" ng-click="term='-fname'"> </button>
         <div style="height: 20px;" class="spacer"></div>
         <div class="list card animated bounceInUp" id="profile-list4" ng-repeat="userProfile in userProfiles|filter:filterResult|orderBy:term" ng-show='userProfile!==null && searchinput' >
			<div class="item item-avatar item-text-wrap in" style="transition-delay: 0.3s;">
				<span class="avatar" style="background-image: url('../www/img/user.png');"></span>
				<strong><h2 class="ng-binding">{{userProfile.fname | uppercase}} {{userProfile.lname | uppercase}}</h2></strong> 
				<i class="icon ion-iphone assertive-900"> </i> {{userProfile.phone}}<br>
				<i class="icon ion-ios-email assertive-900"> </i> {{userProfile.email}}<br>
				<i class="icon ion-android-person assertive-900"> </i>{{userProfile.roles}}<br>
				<i class="icon ion-android-add-circle assertive-900"> </i> {{userProfile.aoe[0]}}<br>
			</div>
		 </div>         
      </div>
   </ion-content>
</ion-view>